obj-*
*.axf
*.hex
*.s
simavr/simavr
simavr/run_avr
*.a
.tags*
._*
*.vcd
examples/board_ledramp/ledramp
examples/board_simduino/simduino
examples/board_simduino/simduino_flash.bin
examples/board_timer_64led/timer_64led
TAGS
callgrind.out.*
*~
*.o
*.elf
*.objdump
perf.data
